.navbar {
  align-items: center;
  min-height: 70px;

  .logo {
    color: whitesmoke;
    align-self: center;
    font-size: 18px;
    margin-left: 3rem;
    margin-top: 0.4rem;
    cursor: pointer;
    margin-right: 0.4rem;
    font-style: italic;
    color: beige;
  }

  a:hover {
    text-decoration: underline !important;
  }
}
